<a href="https://colab.research.google.com/github/Lefantro/Non-Supervised-Learning/blob/main/DBSCAN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from random import seed, randint

points=pd.DataFrame({
    #index         0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18  19  
    'name':      ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T'],
    'x':         [ 1,  2,  1,  2,  3,  3,  3,  4,  4,  5,  7, 10, 10,  9,  10, 11, 9, 10, 11, 10],
    'y':         [ 1,  1,  2,  2,  5,  9, 10, 10, 11, 10, 10,  9,  6,  5,   5,  5, 4,  4,  4,  3],
    'cluster':   [ 0]*20, #cp=core point assigned
    'type':      ['noise']*20, #type of point with 0 = undefined, 1 = border point, 2 = core point, 3 = noise
    'pas':      [0]*20
})

In [ ]:
def L1(c, a):
    return abs(c.x-a.x)+abs(c.y-a.y)

In [ ]:
dist=np.zeros((len(points), len(points)))
#distances between points
for i in range(len(points)):
  for j in range(len(points)):
    dist[i,j]=L1(points.iloc[i], points.iloc[j])
    #dist[j,i]= 88
     #L1(points.iloc[i], points.iloc[j])
print (dist)

[[ 0.  1.  1.  2.  6. 10. 11. 12. 13. 13. 15. 17. 14. 12. 13. 14. 11. 12.
  13. 11.]
 [ 1.  0.  2.  1.  5.  9. 10. 11. 12. 12. 14. 16. 13. 11. 12. 13. 10. 11.
  12. 10.]
 [ 1.  2.  0.  1.  5.  9. 10. 11. 12. 12. 14. 16. 13. 11. 12. 13. 10. 11.
  12. 10.]
 [ 2.  1.  1.  0.  4.  8.  9. 10. 11. 11. 13. 15. 12. 10. 11. 12.  9. 10.
  11.  9.]
 [ 6.  5.  5.  4.  0.  4.  5.  6.  7.  7.  9. 11.  8.  6.  7.  8.  7.  8.
   9.  9.]
 [10.  9.  9.  8.  4.  0.  1.  2.  3.  3.  5.  7. 10. 10. 11. 12. 11. 12.
  13. 13.]
 [11. 10. 10.  9.  5.  1.  0.  1.  2.  2.  4.  8. 11. 11. 12. 13. 12. 13.
  14. 14.]
 [12. 11. 11. 10.  6.  2.  1.  0.  1.  1.  3.  7. 10. 10. 11. 12. 11. 12.
  13. 13.]
 [13. 12. 12. 11.  7.  3.  2.  1.  0.  2.  4.  8. 11. 11. 12. 13. 12. 13.
  14. 14.]
 [13. 12. 12. 11.  7.  3.  2.  1.  2.  0.  2.  6.  9.  9. 10. 11. 10. 11.
  12. 12.]
 [15. 14. 14. 13.  9.  5.  4.  3.  4.  2.  0.  4.  7.  7.  8.  9.  8.  9.
  10. 10.]
 [17. 16. 16. 15. 11.  7.  8.  7.  8.  6.  4.  0.  3.  5.  4.  5.  6.  5.
   6.  6.]
 [14. 13. 13. 12.  8. 10. 11. 10. 11.  9.  7.  3.  0.  2.  1.  2.  3.  2.
   3.  3.]
 [12. 11. 11. 10.  6. 10. 11. 10. 11.  9.  7.  5.  2.  0.  1.  2.  1.  2.
   3.  3.]
 [13. 12. 12. 11.  7. 11. 12. 11. 12. 10.  8.  4.  1.  1.  0.  1.  2.  1.
   2.  2.]
 [14. 13. 13. 12.  8. 12. 13. 12. 13. 11.  9.  5.  2.  2.  1.  0.  3.  2.
   1.  3.]
 [11. 10. 10.  9.  7. 11. 12. 11. 12. 10.  8.  6.  3.  1.  2.  3.  0.  1.
   2.  2.]
 [12. 11. 11. 10.  8. 12. 13. 12. 13. 11.  9.  5.  2.  2.  1.  2.  1.  0.
   1.  1.]
 [13. 12. 12. 11.  9. 13. 14. 13. 14. 12. 10.  6.  3.  3.  2.  1.  2.  1.
   0.  2.]
 [11. 10. 10.  9.  9. 13. 14. 13. 14. 12. 10.  6.  3.  3.  2.  3.  2.  1.
   2.  0.]]

In [ ]:


def assign_points(core, radius):
  density_connected=[]
  for i in range(len(points)):
    #if (i!=core):    Only if the point itself is not counted, which is not the case in normal DBscan
      if (dist[core, i]<=radius):
        density_connected.append(i)
  return density_connected

In [ ]:
def rec2 (core, radius, minP, cluster):
  points.at[core,'pas']=1
  connect=assign_points(core, radius)
  if (len(connect)>=minP): 
    points.at[core, 'type']='core'
    for i in connect:
      if (points.at[i, 'cluster']==0):
        points.at[i, 'cluster']=cluster
        if (len(assign_points(i, radius))<minP): points.at[i, 'type']='border'
        if (points.pas[i])==0: rec2(i, radius, minP, cluster)
    cluster=cluster+1
  return cluster


#cluster=cluster+1

radius=1
minP=3
cluster=1
for i in range(len(points)):
      if (points.cluster[i]==0): 
        cluster = rec2(i, radius, minP, cluster)


  #if ((len(connect)==0) and (points.type[core]==0)): 
  # print ('Assigning point',points.name[core], 'type 3')
  # points.at[core, 'type']=3
  #el
    #else: 
  #  print ('Assigning point', points.name[core], 'non-core')
  #  points.at[core, 'type']='not-core'

In [ ]:
def tabular(df):
  print (r'\begin{tabular}{|c|c|c|c|c|}')
  print (r'\hline')
  print (r'name & x & y &cluster & type \\')
  print (r'\hline')
  for i in range(len(df)):
    print (df.name.iloc[i], '&', df.x.iloc[i], '&', df.y.iloc[i], '&', df.cluster.iloc[i],'&',df['type'].iloc[i], r'\\')
  print(r'\hline')
  print(r'\end{tabular}')

In [ ]:
points=points.drop(['pas'],1)
points.head(20)

   name   x   y  cluster    type
0     A   1   1        1    core
1     B   2   1        1    core
2     C   1   2        1    core
3     D   2   2        1    core
4     E   3   5        0   noise
5     F   3   9        2  border
6     G   3  10        2    core
7     H   4  10        2    core
8     I   4  11        2  border
9     J   5  10        2  border
10    K   7  10        0   noise
11    L  10   9        0   noise
12    M  10   6        3  border
13    N   9   5        3    core
14    O  10   5        3    core
15    P  11   5        3    core
16    Q   9   4        3    core
17    R  10   4        3    core
18    S  11   4        3    core
19    T  10   3        3  border

In [ ]:
tabular(points)

\begin{tabular}{|c|c|c|c|c|}
\hline
name & x & y &cluster & type \\
\hline
A & 1 & 1 & 1 & core \\
B & 2 & 1 & 1 & core \\
C & 1 & 2 & 1 & core \\
D & 2 & 2 & 1 & core \\
E & 3 & 5 & 0 & noise \\
F & 3 & 9 & 2 & border \\
G & 3 & 10 & 2 & core \\
H & 4 & 10 & 2 & core \\
I & 4 & 11 & 2 & border \\
J & 5 & 10 & 2 & border \\
K & 7 & 10 & 0 & noise \\
L & 10 & 9 & 0 & noise \\
M & 10 & 6 & 3 & border \\
N & 9 & 5 & 3 & core \\
O & 10 & 5 & 3 & core \\
P & 11 & 5 & 3 & core \\
Q & 9 & 4 & 3 & core \\
R & 10 & 4 & 3 & core \\
S & 11 & 4 & 3 & core \\
T & 10 & 3 & 3 & border \\
\hline
\end{tabular}